 
 <div  *ngIf="id%2 == 0" [ngClass]='row' > 
   <div class="card col lg6"  >
    <div class="card-image">
      <img src="assets/images/{{ car.image }}.jpg" alt="car" style="height: 250px" >
    </div>
    <div class="caption center">
      <div *ngIf="!car.showDetails" >
        <h4>
          <span class="card-content" style="min-height: 500px">
            {{ car.name }}
          </span>
        </h4>
        <h5>     
            {{ car.price | currency:'USD':true }}
        </h5>

        

        <button 
          class="btn waves-effect waves-lights blue darken-1"
          *ngIf="!car.showDetails"
          (click)="car.showDetails = !car.showDetails">
         Show Speed
        </button>

      </div>

      <div *ngIf="car.showDetails">
        <div  >
          <p class="card-action">{{ car.speed }}</p>


          <button
            class=" btn waves-effect waves-light"
            (click)="car.showDetails = !car.showDetails">
            Close
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
 
 
            